<style>

div {
  width: 80%;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
}

body {
  background-color: #E6E6FA;
}
</style>

<div>
<h1> Welcome to the Task Manager</h1>

<ul>
  <li><a href="/tasks">Task Index</a></li>
  <li><a href="/tasks/new">New Task</a></li>
</ul>
</div>
